.header-logo {
    height: 90px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.header-text {
    height: 110px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 110px;
}

.static-page .row .col_6{
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .max-width {
        max-width: 1280px;
    }
}