target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*~
.classpath
.project
.settings/

**/.DS_Store

log/

**/pom.xml.releaseBackup
**/pom.xml.versionsBackup

test-output/

*.iml
.idea

docker-files/siard/

.vscode/
.factorypath
/.apt_generated/

.mvn/
node_modules/
electron/build/
electron/war/
jvm.log

*.siard

src/main/webapp/com.databasepreservation.server.Server/**
src/main/webapp/com.databasepreservation.desktop.Desktop/**
/home/mguimaraes/Documents/Projects/db-visualization-toolkit/src/main/resources/config/dbvtk-viewer.properties
