<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<property name="appender" value="${dbvtk.loggerMethod}" />

	<appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dbvtk.home}/log/dbvtk.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${dbvtk.home}/log/dbvtk-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each file should be at most 1GB -->
			<maxFileSize>1GB</maxFileSize>
		</rollingPolicy>
	</appender>

	<logger name="org.roda" additivity="false">
		<level value="INFO"/>
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.apache.solr" additivity="false">
		<level value="WARN"/>
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.eclipse.jetty" additivity="false">
		<level value="WARN"/>
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.apache.http" additivity="false">
		<level value="INFO"/>
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.roda" additivity="false">
		<level value="INFO" />
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="com.databasepreservation" additivity="false">
		<level value="INFO" />
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</logger>

	<root level="warn">
		<if condition='property("appender").equalsIgnoreCase("FILEOUT")'>
			<then>
				<appender-ref ref="${dbvtk.loggerMethod}"/>
			</then>
		</if>
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
