services:
  zoo:
    image: docker.io/zookeeper:3.9-jre-17
    restart: unless-stopped
    ports:
      - "2181:2181"
    environment:
      - ZOO_4LW_COMMANDS_WHITELIST=mntr,conf,ruok
    volumes:
      - zookeeper_data:/data
      - zookeeper_datalog:/datalog
  solr:
    image: docker.io/solr:9
    restart: unless-stopped
    ports:
      - "8983:8983"
    environment:
      ZK_HOST: zoo:2181
      SOLR_HOST: localhost
      SOLR_HEAP: 4G
      SOLR_OPTS: "-Dsolr.environment=dev,label=DEV+ENV"
    depends_on:
      - zoo
    command:
      - -c
    volumes:
      - solr_data:/var/solr
  tika:
    image: apache/tika:3.2.3.0-full
    restart: unless-stopped
    ports:
      - "9998:9998"
    volumes:
      - ~/.dbvtk/SIARD-files:/SIARD-files
      - ./tika-config/tika-config.xml:/tika-config.xml
volumes:
  zookeeper_data:
  zookeeper_datalog:
  solr_data: