.desktop-main .content-container .browseContentFilePreviewPanel{
    height: 100vh;
}

.desktop-main .metadata .browseContentFocusPanel,
.desktop-main .database .browseContentFocusPanel{
    padding-top: 40px;
}


/**********************************************
		          Home Page
***********************************************/

.contentPanel, .contentPanel > div {
    height: 100%;
    width: 100%;
}

.home-page-content {
    background-color: #DCDCDC;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

/*Brand*/
.home-page-brand {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
}

.home-page-brand img {
    max-width: 20%;
}

/*Content*/
.home-page-content .options {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.options {
    width: 75%;
    margin: 0 auto;
}

.options .card + .card {
    margin-top: 5px;
}

.options .card {
    width: 30%;
}

.option {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 5px;
}

.option .text {
    padding: 25px;
    flex: 1;
}

/*Footer*/
.home-page-footer {
    padding: 10px 20px ;
    padding-bottom: 32px;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #464646;
}

.home-page-brand img,
.owner img,
.financiers img{
    cursor: pointer;
}

.financiers .logo-keep {
    margin-right: 20px;
}

.owner{
    text-align: right;
    width: 100px;
}

.home-page-footer .logo-keep {
    height: 100%;
}

.footer-label{
    color: #fff;
    font-size: 1.2rem;
}

/**********************************************
		          Open SIARD
***********************************************/
.wrapper {
    display: flex;
}

.wrapper .left {
    flex: 0 0 15%;
    margin-right: 15px;
}

.wrapper .right {
    flex: 1;
}

/***********************************************
               WIZARD CONNECTION
***********************************************/
.wizard-connection {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wizard-connection .wrapper {
    height: 100%;
}

.connectionSidebar .sidebarItem {
    padding: 5px 0;;
}

.wrapper .h4 {
    margin-top: 0;
}

.wizard-connection-validator:required {
    box-shadow: none;
}

.wizard-connection-validator:invalid {
    background-color: #eebcba;
    border: none;
    border-left: 2px solid #d9534f;
}

/***********************************************
                    TEXTAREA
***********************************************/
.form-textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
}

/***********************************************
                CUSTOM VIEWS
 ***********************************************/
.custom-views-sidebarItem {
    width: 75%;
    float: left;
}

.custom-views-sidebarItem-delete {
    cursor: pointer;
    color: white;
}

.custom-views-buttons .btn-item{
    padding-left: 0;
    padding-right: 10px;
}

.dialog-custom-view-test-result {
    width: 90%;
}

.dialog-custom-view-test-result table {
    width: 100%;
}

.dialog-custom-view-test-result-layout {
    margin: 10px;
}

.dialog-custom-view-test-result-layout-footer {
    display: flex;
    flex-direction: row-reverse;
}
/************************************************
* SendTo Wizard - Export Format
 ************************************************/
.output-format {
    box-sizing: border-box;
    margin: 4rem;
}

.output-format-buttons {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.output-format-buttons .btn {
    margin: 4rem;
    height: 100px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
    color: black;
}

.output-format-buttons .btn::after{
    position: relative;
}

.btn-table:after {
    content: "\f0ce";
}

.btn-selected {
    color: white !important;
    background-color: #089de3 !important;
    outline: none;
    box-shadow: 2px 2px 14px rgba(0,0,0,.4);
}

.btn-selected:focus, .btn-selected:active, .btn-selected:hover {
    outline-color: transparent;
    outline-style: none;
}