/**********************************************
		          Commons
***********************************************/

html, body, .main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
}

.main .contentPanel{
    min-height: auto;
}

.application-container {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.application-container .browseContentPreviewPanel,
.application-container .browseContentPreviewPanel,
.application-container .browseContentPreviewPanel td,
.application-container .browseContentFilesPanel,
.application-container .browseContentFilesPanel td,
.application-container .block{
    height: 100%;
}

.application-container .browseContentPreviewPanel,
.application-container .manage-panel{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 44px;
    padding-left: 10px;
    box-sizing: border-box;
}

.application-container .h1{
    margin: 0;
}

.label-error{
    color: #d9534f;
    font-weight: 700;
    border: 2px solid #d9534f;
    background-color: #f1d5d4;
}

/**********************************************
		          breadcrumb
***********************************************/

.main .wui-breadcrumbPanel {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
}

/**********************************************
		          Home Page
***********************************************/

.contentPanel, .contentPanel > div {
    height: 100%;
    width: 100%;
}

.home-page-content {
    background-color: #DCDCDC;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

/*Brand*/
.home-page-brand {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
}

.home-page-brand img {
    max-width: 20%;
}

/*Content*/
.home-page-content .options {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.options {
    width: 75%;
    margin: 0 auto;
}

.options .card + .card {
    margin-top: 5px;
}

.options .card {
    width: 30%;
}

.option {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 5px;
}

.option .text {
    padding: 25px;
    flex: 1;
}

/*Footer*/
.home-page-footer {
    padding: 10px 20px ;
    padding-bottom: 32px;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #464646;
}

.home-page-brand img,
.owner img,
.financiers img{
    cursor: pointer;
}

.financiers .logo-keep {
    margin-right: 20px;
}

.owner{
    text-align: right;
    width: 100px;
}

.home-page-footer .logo-keep {
    height: 100%;
}

.footer-label{
    color: #fff;
    font-size: 1.2rem;
}

/**********************************************
		          Open SIARD
***********************************************/

.wui-dialog-input:invalid {
    background-color: #eebcba;
}

.metadata-information-panel {
    display: flex;
    margin: 0 10rem 0 10rem;
}

.metadata-information {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.metadata-field {
    margin-bottom: 1.2rem;
}

.metadata-field:first-of-type {
    margin-top: 1.2rem;
}

.metadata-information-element-label {
    display: inline-block;
    width: 16rem;
    text-align: left;
    font-weight: bold;
}

.metadata-information-table-label {
    display: inline-block;
    width: 9rem;
    text-align: left;
    font-weight: bold;
}

.metadata-information-description-label{
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.metadata-information-element-value {
    display: inline;
    margin: 0;
    margin-inline-start: 2.25rem;
}

.metadata-description {
    margin: 1% 10rem 1% 10rem;
}

.navigation-panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10rem 0 10rem;
}

.navigation-panel {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 5%;
    background: #dadfe8;
    margin-bottom: 1%;
    margin-right: 10px;
}

.navigation-panel-header {
    font-size: x-large;
    margin-left: 20px;
    margin-top: 10px;
}

.navigation-panel-info {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    flex: 1;
    margin-left: 20px;
    margin-rigth: 20px;
}

.navigation-panel-options {
    margin-bottom: 1.25rem;
    vertical-align: bottom;
    margin-left: 20px;
}

.btn-link-info {
    background-color: transparent;
    color: #337ab7;
    padding-left: 0px;
}

.btn-link-info:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link-info:disabled{
    color: #aeaeae;
    background-color: transparent;
    cursor: unset;
    text-decoration: none;
}

.label-field {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    width: 36%;
    min-width: 100px;
}

.value-field {
    display: inline;
}

.manage-panel {
    width: 98%;
    margin-left: 1%;
}

.database-list {
    margin-top: 1%;
}

.button-group-panel {
    display: inline;
    width: 100%;
}

.button-panel-right {
    padding-top: 1%;
}

.button-group-panel-btn {
    display: table-cell;
    width: 50%;
    padding-right: 10px;
}

.button-group-panel-btn .btn {
    width: 100%;
    padding: 8px;
    text-align: center;
}

.btn-item {
    position: relative;
    padding-top: 1%;
    padding-left: 10px;
    display: table-cell;
}

.btn-item .btn {
    width: 9rem;
    padding: 8px;
    text-align: center;
}

.button-panel-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 315px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.wrapper .left {
    flex: 0 0 15%;
    margin-right: 15px;
}

.loading-sidebar {
    position: relative;
    height: 50vh;
}

.wrapper .right {
    flex: 1;
}

.connection-container {
    width: 100%;
}

.connection-panel {
    width: 100%;
    margin: 0 !important;
}

.form-container {
    width: auto;
    height: auto;
    margin: 2.5rem 4rem 0rem 6rem;
}

.form-lobs{
    margin-left: 4rem;
}

.export-options-form, .custom-views-form{
    margin: 2.5rem 4rem 0rem 0rem;
}

.form-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.form-label-spaced {
    font-weight: bold;
    flex: 0 0 160px;
}

.form-label-spaced-error {
    color: red;
}

.textbox-error {
    border-color: red;
}

.textarea-error {
    border-color: red;
}

.form-button {
    padding: 0;
    margin: 0;
    width: 100px;
}

.form-button-jar {
    padding: 0;
    margin: 0;
    width: 260px;
    text-overflow: unset;
}

.form-inline > .form-label-spaced:last-of-type {
    margin-left: 25px;
}

.form-inline {
    display: flex;
    margin-bottom: 10px;
}

.form-textbox-inline:first-of-type {
    width: 100%;
    color: #58595b;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-weight: 300;
}

.form-textbox-inline {
    color: #58595b;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-weight: 300;
}

.gwt-Label-disabled {
    color: grey;
}

.gwt-TextBox:disabled {
    background-color: inherit;
}

.gwt-PasswordTextBox:disabled {
    background-color: inherit;
}

.text-muted {
    color: #6c757d !important;
}

.form-helper {
    margin-bottom: 10px;
}

.form-helper .form-row {
    margin-bottom: 0;
}

.form-text-helper {
    margin-left: 160px;
    font-size: 75%;
    font-weight: lighter;
}

.form-text-helper-checkbox {
    margin-left: 20px;
    font-size: 75%;
    font-weight: lighter;
}

.form-helper .form-textbox {
    margin-bottom: 0;
}

.form-helper .form-checkbox {
    margin-bottom: 0;
}

.form-textbox-external-lobs {
    width: 5%;
    border: 1px none #ccc;
    border-bottom-style: solid;
    background: none;
    margin: 0px 10px;
    direction: rtl;
}

.gwt-TabPanelBottom {
    background-color: transparent;
    /*border-color: lightgray;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
}

.sidebarHyperLink-selected {
    background: #5bbeff;
}

.information-path {
    text-overflow: ellipsis;
    width: 100%;
}

/*.sidebarItem {*/
/*    padding: 5px 0;*/
/*}*/

.sidebarItem-selected {
    color: white !important;
}

.select-buttons-container {
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.select-buttons-container .btn:last-child {
    margin-left: 15px;
}

/***********************************************
               WIZARD CONNECTION
***********************************************/
.wizard-connection {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wizard-connection .wrapper {
    height: 100%;
}

.connectionSidebar .sidebarItem {
    padding: 5px 0;;
}

.wrapper .h4 {
    margin-top: 0;
}

.wizard-connection-validator:required {
    box-shadow: none;
}

.wizard-connection-validator:invalid {
    background-color: #eebcba;
    border: none;
    border-left: 2px solid #d9534f;
}

/***********************************************
                    TEXTAREA
***********************************************/
.form-textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
}

/***********************************************
                    BUTTONS
***********************************************/
.btn-back-wizard:before {
    content: "\f053";
}

.btn-select-all:after {
    content: "\f046";
}

.btn-select-none:after {
    content: "\f096";
}

.btn-new:after {
    content: "\f196";
}

.btn-save:after {
    content: "\f0c7";
}

.btn-delete:after {
    content: "\f014";
}

/***********************************************
				    CHECKBOX
************************************************/

.my-asyncdatagrid-display-scroll-wrapper input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
}

.my-asyncdatagrid-display-scroll-wrapper input[type="checkbox"]:checked {
    background-color: #089de3;
}

.my-asyncdatagrid-display-scroll-wrapper input[type="checkbox"]:checked:after {
    content: '\f00c';
    font-size: 17px;
    margin-left: -4px;
    font-family: FontAwesome;
}

.connection-panel input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
}

.connection-panel input[type="checkbox"]:checked {
    background-color: #089de3;
}

.connection-panel input[type="checkbox"]:checked:after {
    content: '\f00c';
    font-size: 17px;
    margin-left: -4px;
    font-family: FontAwesome;
}

.form-checkbox input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
}

.form-checkbox input[type="checkbox"]:checked {
    background-color: #089de3;
}

.form-checkbox input[type="checkbox"]:checked:after {
    content: '\f00c';
    font-size: 17px;
    margin-left: -4px;
    font-family: FontAwesome;
}

.form-checkbox {
    width: 100%;
}

.form-checkbox Label {
    font-weight: bold;
    vertical-align: 8px;
    cursor: pointer;
    margin-inline-start: 10px;
}

@media (max-width: 698px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row {
        align-items: stretch;
    }

    .form-textbox-inline {
        width: 100%;
    }

    .form-inline .form-label-spaced:last-of-type {
        margin-left: 0px;
    }

    .form-label-spaced {
        flex: 0 0 auto;
    }

    .form-helper {
        margin: 0;
    }

    .form-text-helper {
        margin: 0;
    }
}

/***********************************************
                CUSTOM VIEWS
 ***********************************************/
.custom-views-sidebarItem {
    width: 75%;
    float: left;
}

.custom-views-sidebarItem-delete {
    cursor: pointer;
    color: white;
}

.custom-views-buttons .btn-item{
    padding-left: 0;
    padding-right: 10px;
}

.dialog-custom-view-test-result {
    width: 90%;
}

.dialog-custom-view-test-result table {
    width: 100%;
}

.dialog-custom-view-test-result-layout {
    margin: 10px;
}

.dialog-custom-view-test-result-layout-footer {
    display: flex;
    flex-direction: row-reverse;
}
/************************************************
* SendTo Wizard - Export Format
 ************************************************/
.output-format {
    box-sizing: border-box;
    margin: 4rem;
}

.output-format-buttons {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.output-format-buttons .btn {
    margin: 4rem;
    height: 100px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
    color: black;
}

.output-format-buttons .btn::after{
    position: relative;
}

.btn-table:after {
    content: "\f0ce";
}

.btn-selected {
    color: white !important;
    background-color: #089de3 !important;
    outline: none;
    box-shadow: 2px 2px 14px rgba(0,0,0,.4);
}

.btn-selected:focus, .btn-selected:active, .btn-selected:hover {
    outline-color: transparent;
    outline-style: none;
}

/***************************
    SPINNER
 ***************************/
.spinnerRetrievingRows {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinnerRetrievingRows > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinnerRetrievingRows .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinnerRetrievingRows .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.query-result-scroll-wrapper {
    display: block;
    height: 50vh;
    width: 100%;
}

.browseContent.wrapper {
    display: unset;
}

.navigation-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}