@CHARSET "UTF-8";

/***********************************************
   Ungrouped
************************************************/

.clear-both {
    clear: both;
}

.db-info-th {
    font-weight: bolder;
    padding-right: 1rem;
}

.hidden {
    visibility: hidden;
}

.label {
    color: #222;
    font-weight: 400;
}

.value {
    font-size: 1.4rem;
    color: rgb(88, 89, 91);
}

/* allows schemas to scroll correctly and not go beyond the page limits */
.browseContentPreviewPanel > tbody > tr:nth-child(1) > td:nth-child(2) {
    max-width: 1px;
    width: 100%;
}

.loadingText {
    font-size: 75%;
    color: #a7a9ac;
}

.btn-margin-right {
    margin-right: 1rem;
}

.btn-cell-action {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 5px;
}

.homeText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 110px;
}

.btn-option:after {
    content: "\f085";
}

/***********************************************
              Progress bar, from
 https://css-tricks.com/html5-progress-element/

 Changed elements:
 progress
 .progress-bar
 .html5progress

************************************************/

.progress-report {
    overflow: auto;
    height: 300px;
    max-height: 300px;
    padding: .2rem .5rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

/* Styling the determinate progress element */

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;

    /* Add dimensions */
    width: 100%;
    height: 20px;

    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;

    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;

    position: relative;
    margin: 0 0 1.5em;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0;
    }
}

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;

    width: 5px;
    height: 5px;
    top: 7px;
    right: 7px;

    background-color: white;
    border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image: -moz-linear-gradient(135deg,
    transparent,
    transparent 33%,
    rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%,
    transparent 66%),
    -moz-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
    -moz-linear-gradient(left, #089DE3, #089DE3);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 3px;

    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;*/

    /* Dimensions should be similar to the parent progress element. */
    width: 100%;
    height: 20px;
    border: 1px solid #E1E1E1;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;

    display: block;
    text-indent: -9999px;
}

p[data-value] {
    position: relative;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute;
    right: 0;
}

.html5progress::-webkit-progress-value {
    /* Gradient background with Stripes */
    background-image: -webkit-linear-gradient(135deg,
    transparent,
    transparent 33%,
    rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%,
    transparent 66%),
    -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
    -webkit-linear-gradient(left, #089DE3, #089DE3);
}

.html5progress::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image: -moz-linear-gradient(135deg,
    transparent,
    transparent 33%,
    rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%,
    transparent 66%),
    -moz-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .2)),
    -moz-linear-gradient(left, #09c, #690);
}

/* Now we are good to duplicate html code for other skills and then add the css code for the new skill based on data-skill */

/***********************************************
              Table search panel
************************************************/

.TableSearchPanel-search .searchAdvancedPanel {
    margin-bottom: 0;
}

.TableSearchPanel-search {
    margin-bottom: 20px;
}

.TableSearchPanel-table {
    /*nothing yet since most of it is defined for all AsyncTableCells*/
}

.searchPanelAdvancedSaveSearchButton {
    margin-right: 1rem;
    float: right;
}

.btn-save:after {
    content: "\f0c7";
}

.btn-run:after {
    content: "\f085";
}

.btn-test:after {
    content: "\f0e7";
}

.btn-manage:after {
    content: "\f233";
}

.btn-erase:after {
    content: "\f12d";
}

.btn-export {
    padding: 4px 8px 4px 8px;
    font-size: 11px;
    font-weight: 400;
    float: right;
    margin-top: 3px;
    border-radius: 0px;
    margin-left: 5px;
    display: inline-block;
    font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    width: 8.4rem;
}

.btn-export-all {
    width: 8.4rem;
}

.btn-export-visible {
    width: 8.4rem;
}

.search-field-left-panel .form-textbox-small {
    max-width: 100px;
}

.search-field-left-panel .label {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-listbox-search {
    border-left: 2px solid #089de3;
    max-width: 100px;
    width: 100px;
}

/***********************************************
   BrowseContent (based on ViewRepresentation)
************************************************/
.browseContentTitle {
    margin-bottom: 10px !important;
}

.browseContentFocusPanel,
.browseContentPreviewPanel {
    width: 100%;
}

.browseContentFilesPanel {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 100%;
    border-right: 1px solid #eee;
}

.browseContentFilesPanel.full_width {
    width: 100%;
    margin-right: 0px;
    border: none;
}

.browseContentFilesPanel .fileListScroll {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}

.browseContentFilesPanel.full_width .fileListScroll {
    height: auto;
}

/*
.browseContent .my-asyncdatagrid-pager-results {
    display: none;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableCell {
    padding-right: 2px;
    line-height: 1em;
    margin-bottom: 2px;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRow {
    background: white;
    border: none;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRowCell {
    border: 2px solid white;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableHoveredRow {
    background: #eee;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableHoveredRow .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRowCell {
    border: 2px solid #eee;
}
*/

.browseContentFilePreviewPanel {
    width: 100%;
    min-height: 705px;
    position: relative;
}

.banner {
    z-index: 2;
}

.browseContentFilePreviewPanel .filePreviewToolbar {
    min-height: 35px;
    background-color: #eee;
    position: relative;
    z-index: 1;
}

.browseContentFilePreviewPanel .filePreviewToolbar .browseContentBreadcrumb {
    margin: 0;
    float: left;
    margin-left: 30px;
    height: 3.5rem;
    line-height: 3.5rem;
}

.browseContentFilePreviewPanel.single .filePreviewToolbar .browseContentBreadcrumb {
    margin-left: 35px;
}

.main .wui-breadcrumbPanel .breadcrumb-user {
    position: relative;
    top: 0.3rem;
    float: right;
    color: #404142;
    text-decoration: none;
}

.main .wui-breadcrumbPanel .breadcrumb {
    font-size: 1.3rem;
}

.browseContentFilePreviewPanel .filePreviewToolbar .filePreviewToolbarIcons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.browseContentFilePreview {
    padding: 40px !important;
    height: 650px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    padding-top: 0px !important;
    margin-top: 20px;
}

.browseContentFilesPanel .searchPanel {
    height: 35px;
    margin-right: 0px;
    background-color: #999;
    color: #eee;
}

.browseContentFilesPanel .searchBox {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    padding: 0 3rem;
    padding-left: 4.7rem;
    background-color: transparent;
    border: none;
    margin-top: 3px;
    color: white;
}

.browseContentFilesPanel .searchBox::-webkit-input-placeholder,
.browseContentFilesPanel .searchBox::placeholder,
.browseContentFilesPanel .searchBox:placeholder-shown {
    color: #fff;
    opacity: 1; /* Firefox */
}

.browseContentFilesPanel .searchPanelLeft {
    float: right;
    width: 100%;
}

.browseContentFilesPanel .searchButton {
    cursor: pointer;
    cursor: hand;
    position: relative;
    top: -2px;
    left: 2px;
    float: left;
    width: 40px;
    margin-right: -55px;
    background-color: transparent;
    color: #fff;
}

.browseContentFilesPanel .searchButton-html {
    font-size: 14px;
}

.browseContentFilesPanel .searchButton .fa-stack-2x {
    color: transparent;
}

.browseContentFilesPanel .searchButton .fa-stack-1x {
    color: inherit;
}

.browseContent .infoFilePanel {
    height: 630px;
    width: 300px;
    background: #089de3;
    display: none;
    color: white;
    position: absolute;
    right: 0;
    padding: 20px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, -6px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.browseContent .infoFileTitle {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
}

.browseContent .infoFileEntry {
    margin-bottom: 1em;
}

.browseContent .infoFileEntryKey {
    font-size: 1.3rem;
    line-height: 1.1em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.2em;
}

.browseContent .infoFileEntryValue {
    font-size: 1.3rem;
    word-break: break-all;
    line-height: 1.1em;
}

/**********************************************
				SIDEBAR
************************************************/
.font-size-small {
    font-size: 0.7em !important;
}

.leftSidebar-facet-title {
    color: inherit;
    margin-bottom: 5px;
    /*font-size: 1.8rem;*/
}

.leftSidebar-facet-label {
    display: block;
    white-space: nowrap;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.leftSidebar-facet-input {
    padding: 2px;
}

.leftSidebar-facet-input-date {
    width: 45%;
}

.leftSidebar-facet-date-separator {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    color: #999;
}

.leftSidebar-facet-panel.facet-empty {
    display: none;
}

.leftSidebar .fade-out:after {
    background: -webkit-linear-gradient(right, #eee 30%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(-90deg, #eee 30%, rgba(255, 255, 255, 0) 100%);
}

.leftSidebar {
    padding: 2rem;
}

.leftSidebar .sidebar-hyperlink a {
    /*font-size: 1.4rem;*/
    color: inherit;
}

.leftSidebar .sidebar-hyperlink {
    /*font-size: 1.4rem;*/
    color: #222;
}

.leftSidebar .sidebar-hyperlink :hover {
    color: #089de3;
}

.leftSidebar .btn {
    width: 160px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.leftSidebar .h1, .leftSidebar .h2, .leftSidebar .h3, .leftSidebar .h4, .leftSidebar .h5,
.leftSidebar .h6 {
    /*margin-bottom: 0.6rem;*/
    /*margin-top: 0.5em;*/
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: normal;
}

.leftSidebar .indent0 {
    /*margin-left: 0;*/
    /*margin-top: 1.5rem;*/
    margin-left: 0.5rem;
    margin-top: 0px;
}

.leftSidebar-facet-title :first-child {
    margin-top: 0;
}

.leftSidebar .indent1 {
    margin-left: 1.5rem;
}

.leftSidebar .indent2 {
    margin-left: 3rem;
}

.leftSidebar .indent3 {
    margin-left: 4.5rem;
}

.leftSidebar .indent4 {
    margin-left: 6rem;
}

.leftSidebar .h1:before, .leftSidebar .h2:before, .leftSidebar .h3:before, .leftSidebar .h4:before, .leftSidebar .h5:before,
.leftSidebar .h6:before {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    padding-right: 0.5em;
    width: 1.5rem;
    text-align: center;
    font-family: "Font Awesome 5 Free";
}

.leftSidebar-facet-panel {
    padding-bottom: 0.3rem;
    padding-top: 0.3em;
}

.sidebarHyperLink-selected {
    background: #5bbeff;
    /*padding-bottom: 0.6rem;*/
    /*padding-top: 0.5em;*/
}

.leftSidebar .sidebar-hyperlink.sidebarItem-selected a:hover {
    text-decoration: none;
    color: inherit;
}

.leftSidebar .sidebarItem-selected.h6, .leftSidebar .sidebarItem-selected.h5 {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* used in schema page to show table column information */
.table-info {
    min-width: 100%;
}

.table-info .primary-key-col {
    width: 1px;
    max-width: 1px;
}

.schema-table-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.schema-table-header > div {
    display: inline;
}

.schema-table-header > div > a:hover {
    text-decoration: underline;
}

.schema-table-header i {
    font-size: 0.7em !important;
}

.schema-table-header > :nth-child(1) {
    padding-right: 1rem;
}

.schema-table-header > :nth-child(3) {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #ccc;
}

.search-field-left-panel .visibility-checkbox {
    display: table-cell;
    vertical-align: top;
    padding-top: 0.3rem;
}

.ms-scroll-fix {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.my-asyncdatagrid-display-scroll-wrapper {
    position: relative;
}

/* hide right shadow */
.my-asyncdatagrid-display-scroll-wrapper:after {
    box-shadow: inset -10px 0 10px -8px rgba(0, 0, 0, 0.5);

    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    pointer-events: none;
    z-index: 100;

    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* show right shadow */
.my-asyncdatagrid-display-scroll-wrapper-right:after {
    opacity: 1;
}

/* hide left shadow */
.my-asyncdatagrid-display-scroll-wrapper:before {
    box-shadow: inset 10px 0 10px -8px rgba(0, 0, 0, 0.5);

    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    pointer-events: none;
    z-index: 100;

    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

/* show left shadow */
.my-asyncdatagrid-display-scroll-wrapper-left:before {
    opacity: 1;
}

/**********************************************
	       SINGLE RECORD PAGE
************************************************/

.field .value.related-records .related-records-link {
    display: inline;
}

.field .value.related-records {
    font-size: 75%; /*equivalent to .small*/
}

.recordId {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.rowData .label {
    margin-top: 2rem;
}

.rowData .label:before {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    padding-right: 0.5rem;
    width: 1.5rem;
    text-align: center;
    font-family: "Font Awesome 5 Free";
}

.rowData .label.noicon {
    margin-left: 2rem;
}

.rowData .value {
    margin-left: 2rem;
}

.row-field {
    margin-bottom: 1.2rem;
}

.row-field:first-of-type {
    margin-top: 1.2rem;
}

/**********************************************
                TABLE DIAGRAM
************************************************/

.erdiagram {
    min-width: 600px;
    width: 100%;
    height: 600px;
    /*border: 1px solid lightgray;*/
    margin-bottom: 1rem;
}

/**********************************************
	       DATABASE SEARCH PAGE
************************************************/

.database-search-panel .spinner {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/***********************************************
   Login page
************************************************/
.loginPanel {
    max-width: 500px;
    min-width: 400px;
}

/***********************************************
   Home page
************************************************/
.homePanel {
    margin: 40px auto;
    background-color: #eee;
    padding: 40px;
    max-width: 600px;
    min-width: 500px;
}

.homePanel img {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/**********************************************
				MENU
************************************************/
.user-menu {
    float: right;
    background-color: #089DE3;
    box-shadow: 1px -1px 6px black;
}

.user-menu .gwt-MenuItem {
    line-height: 2.5rem;
    height: 2.5rem;
    color: #fff;
}

.user-menu .gwt-MenuItem-selected {
    line-height: 2.5rem;
    height: 2.5rem;
    background-color: #5bbeff;
    color: #fff
}

.main .wui-breadcrumbPanel .breadcrumb {
    color: #222222;
}

.main .wui-breadcrumbPanel .breadcrumb:hover {
    text-decoration: underline;
}

.main .wui-breadcrumbPanel .breadcrumb-last {
    max-width: 300px;
    font-weight: normal;
    cursor: unset;
    color: #6a6a6a;
    text-decoration: underline;
}

.main .wui-breadcrumbPanel .breadcrumb-last:hover {
    text-decoration: underline;
}

.main .wui-breadcrumbPanel .breadcrumb .fa {
    color: #222222;
    margin: 0 6px;
}

.main .wui-breadcrumbPanel .breadcrumb-last .fa {
    color: #6a6a6a;
}

.main .wui-breadcrumbPanel .breadcrumb-separator {
    color: #aaa;
    margin-left: 6px;
}

.gwt-MenuBar .gwt-MenuItem {
    font-size: 1.3rem;
}

.structure-header {
    display: flex;
    justify-content: space-between;
}

.advancedOptionsButton {
    align-self: center;
    margin-top: 2rem;
    display: inline-flex;
}

.advancedOptionsPanel {
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: inline-flex;
    margin-left: 20px;
    position: relative;
}

.advancedOptionsPanel .switch-label {
    align-self: center;
    padding-right: 27px;
}

.advancedOptionsPanel .switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.advancedOptionsPanel .label-for-switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 27px;
    height: 15px;
    background: #ccc;
    display: block;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.advancedOptionsPanel .label-for-switch:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}

.advancedOptionsPanel .switch:checked + .label-for-switch {
    background: #089de3;
    border-color: #089de3;
}

.advancedOptionsPanel .switch:checked + .label-for-switch:after {
    left: 12px;
}

.advancedOptionsPanel .label-for-switch:active:after {
    width: 15px;
}

.table-row-description {
    margin-bottom: 10px;
}

.btn-pull-right {
    padding-right: 0 !important;
}

.footer-buttons-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

.column-description-block {
    display: block;
}

.column-description {
    font-size: 75%;
    font-weight: lighter;
    color: #6c757d !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.structure-header .h1 {
    margin: 0;
}

.search-panel-container {
    width: 100%;
    margin-top: 20px;
}

.option-container {
    height: 100%;
    border: 1px solid #1D70A2;
    padding: 20px;
}

/**********************************************
				SIARD Upload
************************************************/
#upload-list li .loadStatus.flash {
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

.btn-goto-siard-info {
    position: absolute;
    padding-right: 10px;
    top: 15px;
    right: 50px;
}

.loadStatus, .errorMessage {
    margin-right: 0px;
    position: absolute;
    right: 110px;
    top: 6px;
}

.searchButton-html-label {
    font-size: 1rem;
    text-decoration: underline;
    white-space: nowrap;
    line-height: 40px;
    position: absolute;
    right: 32px;
    padding-left: 20px;
    background: linear-gradient(-90deg, #eee 80%, rgba(255, 255, 255, 0) 100%);
}

/**********************************************
		          Commons
***********************************************/

html, body, .desktop-main {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0;
}
.container{
    height: 100%;
}
.content-container {
    height: 100%;
}

.main .contentPanel {
    min-height: auto;
}

.application-container {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    /*position: relative;*/
}

.desktop-main .wui-breadcrumbPanel {
    padding-top: 10px;
    padding-left: 10px;
}

.application-container .browseContentPreviewPanel,
.application-container .browseContentPreviewPanel,
.application-container .browseContentPreviewPanel td,
.application-container .browseContentFilesPanel,
.application-container .browseContentFilesPanel td,
.application-container .block {
    height: 100%;
}

.application-container .browseContentPreviewPanel,
.application-container .manage-panel {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 44px;
    padding-left: 10px;
    box-sizing: border-box;
}

.application-container .h1 {
    margin: 0;
}

.label-error {
    color: #d9534f;
    font-weight: 700;
    border: 2px solid #d9534f;
    background-color: #f1d5d4;
}

/**********************************************
		          breadcrumb
***********************************************/

.main .wui-breadcrumbPanel, .desktop-main .wui-breadcrumbPanel {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
}

/**********************************************
		          Open SIARD
***********************************************/

.wui-dialog-input:invalid {
    background-color: #eebcba;
}

.metadata-information-panel {
    display: flex;
    margin: 0 10rem 0 10rem;
}

.metadata-information {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.metadata-field {
    margin-bottom: 1.2rem;
}

.metadata-information-element-label {
    display: inline-block;
    width: 16rem;
    text-align: left;
    font-weight: bold;
}

.metadata-information-table-label {
    display: inline-block;
    width: 9rem;
    text-align: left;
    font-weight: bold;
}

.metadata-information-description-label {
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.metadata-information-element-value {
    display: inline;
    margin: 0;
    margin-inline-start: 2.25rem;
}

.metadata-description {
    margin: 1% 10rem 1% 10rem;
}

.navigation-panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10rem 0 10rem;
}

.navigation-panel {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 5%;
    background: #dadfe8;
    margin-bottom: 1%;
    margin-right: 10px;
}

.navigation-panel:last-of-type {
    margin-right: 0;
}

.navigation-panel-header {
    font-size: x-large;
    margin-left: 20px;
    margin-top: 10px;
}

.navigation-panel-info {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    flex: 1 1 auto;
    margin-left: 20px;
    margin-rigth: 20px;
}

.navigation-panel-options {
    margin-bottom: 1.25rem;
    vertical-align: bottom;
    margin-left: 20px;
}

.btn-link-info {
    background-color: transparent;
    color: #337ab7;
    padding-left: 0px;
}

.btn-link-info:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link-info:disabled {
    color: #aeaeae;
    background-color: transparent;
    cursor: unset;
    text-decoration: none;
}

.label-field {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    width: 36%;
    min-width: 100px;
}

.value-field {
    display: inline;
}

.manage-panel {
    width: 98%;
    margin-left: 1%;
}

.database-list {
    margin-top: 1%;
}

.button-group-panel {
    display: inline;
    width: 100%;
}

.button-panel-right {
    padding-top: 1%;
}

.button-group-panel-btn {
    display: table-cell;
    width: 50%;
    padding-right: 10px;
}

.button-group-panel-btn .btn {
    width: 100%;
    padding: 8px;
    text-align: center;
}

.btn-item {
    position: relative;
    padding-top: 1%;
    padding-left: 10px;
    display: table-cell;
}

.btn-item .btn {
    width: auto;
    text-align: center;
    box-sizing: border-box;
}

.btn-item .btn-back-wizard {
    padding-left: 25px;
}

.button-panel-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 315px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.loading-sidebar {
    position: relative;
    height: 50vh;
}

.connection-container {
    width: 100%;
}

.connection-panel {
    width: 100%;
    margin: 0 !important;
}

.form-container {
    width: auto;
    height: auto;
    margin: 2.5rem 4rem 0rem 6rem;
}

.form-container-left {
    width: auto;
    height: auto;
    margin: 2.5rem 4rem 0 0;
}


.form-lobs {
    margin-left: 4rem;
}

.export-options-form, .custom-views-form {
    margin: 2.5rem 4rem 0rem 0rem;
}

.form-row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.form-label-spaced {
    font-weight: bold;
    flex: 0 0 160px;
}

.form-label-spaced-error {
    color: red;
}

.textbox-error {
    border-color: red;
}

.textarea-error {
    border-color: red;
}

.form-button {
    padding: 0;
    margin: 0;
    width: 100px;
}

.form-button-jar {
    padding: 0;
    margin: 0;
    width: 260px;
    text-overflow: unset;
}

.form-inline > .form-label-spaced:last-of-type {
    margin-left: 25px;
}

.form-inline {
    display: flex;
    margin-bottom: 10px;
}

.form-textbox-inline:first-of-type {
    width: 100%;
    color: #58595b;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-weight: 300;
}

.form-textbox-inline {
    color: #58595b;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: 1.5rem;
    font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-weight: 300;
}

.gwt-Label-disabled {
    color: grey;
}

.gwt-TextBox:disabled {
    background-color: inherit;
}

.gwt-PasswordTextBox:disabled {
    background-color: inherit;
}

.text-muted {
    color: #6c757d !important;
}

.form-helper {
    margin-bottom: 10px;
}

.form-helper .form-row {
    margin-bottom: 0;
}

.form-text-helper {
    margin-left: 160px;
    font-size: 75%;
    font-weight: lighter;
}

.form-text-helper-checkbox {
    margin-left: 20px;
    font-size: 75%;
    font-weight: lighter;
}

.form-helper .form-textbox {
    margin-bottom: 0;
    min-width: 0;
}

.form-helper .form-checkbox {
    margin-bottom: 0;
}

.form-textbox-external-lobs {
    width: 5%;
    border: 1px none #ccc;
    border-bottom-style: solid;
    background: none;
    margin: 0px 10px;
    direction: rtl;
}

.gwt-TabPanelBottom {
    background-color: transparent;
    /*border-color: lightgray;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
}

.sidebarHyperLink-selected {
    background: #5bbeff;
}

.information-path {
    text-overflow: ellipsis;
    width: 100%;
}

/*.sidebarItem {*/
/*    padding: 5px 0;*/
/*}*/

.sidebarItem-selected {
    color: white !important;
}

.select-buttons-container {
    position: absolute;
    bottom: 10px;
    z-index: 1;
}

.select-buttons-container .btn:last-child {
    margin-left: 15px;
}

.navigation-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10rem;
    margin-bottom: 10px;
}

/**********************************************
				EDIT METADATA
************************************************/

.browseContentPreviewPanel.metadata {
    border-collapse: initial;
}

.metadata-panel {
    padding: 0px 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.server .metadata-panel {
    padding: 0;
}

.server .browseContentPreviewPanel.metadata .browseContentFilesPanel {
    padding: 0;
}

.metadata-content {
    display: block;
    height: 80vh;
}

.metadata-save {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    z-index: 1;
}

.metadata-edit-title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5em 0;
}

.metadata-edit-title .h1 {
    margin: 0;
}

.metadata-edit-title .btn {
    background-color: transparent;
    font-size: 2em;
    color: #089de3;
    padding: 0;
}

.metadata-edit-panel {
    display: flex;
    flex-direction: column;
}

.metadata-edit-panel textarea {
    resize: vertical;
}

.metadata-edit-field {
    display: flex;
    margin-bottom: 0.5em;
}

.metadata-edit-field .form-label {
    width: 15%;
    min-width: 200px;
    padding-right: 0.5em;
    margin-top: 0;
}

.metadata-edit-field .form-textbox {
    width: 85%;
    margin-bottom: 0;
}

.metadata-edit-field .form-textbox:required {
    box-shadow: none;
}

.metadata-edit-field .form-textbox:invalid {
    background-color: #eebcba;
    border: none;
    border-left: 2px solid #d9534f;
}

.metadata-edit-field-date .metadata-edit-value {
    max-width: 200px;
}

.metadata-edit-field-date i {
    padding: 0.5em;
}

.metadata-edit-readonly {
    background-color: #f7f7f7;
    font-weight: bold;
}

.metadata-edit .h1 {
    margin-top: 0;
}

/**********************************************
			EDIT METADATA BUTTONS
************************************************/

.metadata-save button {
    align-self: center;
}

.metadata-save i {
    margin: 0 0.5em;
}

.metadata-edit-title .btn::after {
    position: relative;
    right: auto;
}

.metadata-update {
    margin: 0 auto;
    color: #089de3;
}

.metadata-update .missing {
    color: #8f3938;
}

/**********************************************
		EDIT METADATA TAB & SCROLL
************************************************/

.browseItemMetadata {
    padding: 0;
}

.metadata-table-list {
    display: block;
    height: 100%;
}

.metadata-table-list .form-textbox {
    border-bottom: 0;
}

.metadata-edit, .metadata-edit .gwt-TabPanelBottom, .metadata-edit-tab .gwt-TabPanelBottom {
    height: 100%;
    display: block;
}

.metadata-edit-tab {
    height: 100%;
}

.metadata-edit-tab > tbody > tr:nth-of-type(1) {
    overflow-x: auto;
}

.metadata-edit-tab > tbody, .metadata-edit-tab > tbody > tr:nth-of-type(2) {
    height: 90%;
}

.metadata-edit-tab, .metadata-edit-tab > tbody, .metadata-edit-tab > tbody > tr, .metadata-edit-tab > tbody > tr > td {
    display: block !important;
    width: 100%;
}

.metadata-edit-scroll-wrapper {
    display: block;
    max-height: 100%;
    width: 100%;
}

.leftSidebar {
    height: 80vh;
    display: block;
    overflow: auto;
    box-sizing: border-box;
}

/**********************************************
		    EDIT METADATA SIDEBAR
***********************************************/

.sidebar-collapse {
    position: relative;
    width: 100%;
}

.sidebar-collapse .header {
    color: inherit;
    text-decoration: none;
}

.sidebar-collapse .header > .leftSidebar-facet-panel::after {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
    font-weight: bolder;
    position: absolute;
    right: 1em;
    top: 5px;
}

.sidebar-collapse .header > .leftSidebar-facet-panel.sidebarHyperLink-selected::after {
    color: #fff;
}

.sidebar-collapse.gwt-DisclosurePanel-open .header > .leftSidebar-facet-panel::after {
    content: "\f106";
    font-weight: bolder;
}

.diagram-tab {
    height: 70vh;
    padding: 0;
}

.wizard-title {
    margin-left: 6rem;
}

/***********************************************
                Progress Panel
 ***********************************************/

.progress-bar-panel {
    padding-left: 10px;
    padding-right: 20px;
    margin: 0 6rem;
}

.progress-report-panel {
    margin-top: 44px;
}

/***********************************************
                    BUTTONS
***********************************************/
.btn-back-wizard:before {
    content: "\f053";
}

.btn-select-all:after {
    content: "\f14a";
    font-weight: 300;
}

.btn-select-none:after {
    content: "\f0c8";
    font-weight: 300;
}

.btn-new:after {
    content: "\f0fe";
    font-weight: 300;
}

.btn-download:after {
    content: "\f56d";
}

.btn-save:after {
    content: "\f0c7";
}

.btn-delete:after {
    content: "\f2ed";
}

.btn-fixed-width {
    width: 11.75rem;
    text-align: center;
}

/**********************************************
		         Dialog ExternalLob
***********************************************/
.dialog-external-lobs {
    width: 500px;
}

.dialog-external-lobs table {
    width: 100%;
}

.dialog-external-lobs-layout {
    margin: 10px;
}

.dialog-external-lobs-layout-footer {
    display: flex;
    flex-direction: row-reverse;
}

.dialog-external-lobs-layout-footer .btn {
    margin-left: 10px;
}


/**********************************************
		         Dialog Errors
***********************************************/
.dialog-persist-errors table {
    width: 100%;
}

.dialog-persist-errors .Caption {
    background-color: #d9534f;
}

.dialog-persist-errors-layout {
    padding: 10px;
    height: 100%;
}

.dialog-persist-errors-layout-footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}

.dialog-persist-errors-layout-footer .btn {
    /*padding: 5px 0px;*/
}

/**********************************************
		         Dialog Information
***********************************************/
.dialog-persist-information table {
    width: 100%;
}

.dialog-persist-information-layout {
    padding: 10px;
    height: 100%;
}

.dialog-persist-information-layout-footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}

.dialog-persist-information-layout-footer .btn {
    padding: 5px 0px;
}

/***********************************************
				    CHECKBOX
************************************************/

.my-asyncdatagrid-display-scroll-wrapper input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
}

.my-asyncdatagrid-display-scroll-wrapper input[type="checkbox"]:checked {
    background-color: #089de3;
}

.my-asyncdatagrid-display-scroll-wrapper input[type="checkbox"]:checked:after {
    content: '\f00c';
    font-size: 17px;
    font-weight: 600;
    margin-left: -4px;
    font-family: 'Font Awesome 5 Free';
}

.connection-panel input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
}

.connection-panel input[type="checkbox"]:checked {
    background-color: #089de3;
}

.connection-panel input[type="checkbox"]:checked:after {
    content: '\f00c';
    font-size: 17px;
    margin-left: -4px;
    font-family: 'Font Awesome 5 Free';
}

.form-checkbox input[type="checkbox"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
}

.form-checkbox input[type="checkbox"]:checked {
    background-color: #089de3;
}

.form-checkbox input[type="checkbox"]:checked:after {
    content: '\f00c';
    font-weight: 600;
    font-size: 17px;
    margin-left: -4px;
    font-family: 'Font Awesome 5 Free';
}

.form-checkbox {
    width: 100%;
}

.form-checkbox Label {
    font-weight: bold;
    vertical-align: 8px;
    cursor: pointer;
    margin-inline-start: 10px;
}

@media (max-width: 698px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row {
        align-items: stretch;
    }

    .form-textbox-inline {
        width: 100%;
    }

    .form-inline .form-label-spaced:last-of-type {
        margin-left: 0px;
    }

    .form-label-spaced {
        flex: 0 0 auto;
    }

    .form-helper {
        margin: 0;
    }

    .form-text-helper {
        margin: 0;
    }
}

/***************************
    SPINNER
 ***************************/
.spinnerRetrievingRows {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinnerRetrievingRows > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinnerRetrievingRows .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinnerRetrievingRows .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.query-result-scroll-wrapper {
    display: block;
    height: 50vh;
    width: 100%;
}

.browseContent.wrapper {
    display: unset;
}

/************************************************
* SIARD validator
 ************************************************/
/*indicators*/
.validation-indicators {
    display: flex;
}

.validation-indicators .indicator {
    display: flex;
    margin-right: 0.7em;
}

.indicator .passed {
    color: #5cb85c;
    margin-right: 2px;
}

.indicator .errors {
    color: #d9534f;
    margin-right: 2px;
}

.indicator .warnings {
    color: #f0ad4e;
    margin-right: 2px;
}

.indicator .skipped {
    color: #727c84;
    margin-right: 2px;
}

.label-status {
    line-height: unset !important;
}

/*Dialog*/
.validator-dialog-information {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
}

.validator-dialog-button {
    display: flex;
}

.validator-dialog-information .gwt-Label {
    margin: 0 1em;
}

.validator-dialog-layout-body {
    padding: 20px 10px;
}

.validator-dialog-layout-body .form-text-helper {
    margin-left: 0;
}

.tip-validator {
    line-height: 48px;
}

.btn-validator {
    background-color: #eeeeee;
    padding: 0 10px;
    min-height: 24px;
}

.btn-left {
    float: left;
}

/*page*/
.browseContentPreviewPanel.validation {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.browseContentPreviewPanel.validation .validator {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.validation-information {
    display: flex;
    justify-content: space-between;
}

.progress-report.validation {
    max-height: initial;
    flex: 1 1 auto;
}

.validation-panel {
    padding: 2px;
    display: flex;
}

.validation-panel:nth-child(even) {
    background-color: #ebebeb
}

.validation-info-panel {
    display: flex;
    padding: 5px 0;
}

.validation-info-panel .title {
    font-weight: bolder;
    width: 260px;
}

.validation-info-panel .btn-link-info {
    padding-right: 0;
}

.validation-panel.title .gwt-Label {
    font-weight: bolder;
    margin-right: 10px;
}

.validation-total {
    margin-left: 4px;
}

.validation-panel.requirement {
    justify-content: space-between;
}

.validation-panel.requirement .title {
    display: flex;
}

.validation-panel.requirement .title-message {
    font-weight: bolder;
}

.sparse-progress {
    margin-left: 90px;
}

.validation-status {
    max-height: 21px;
    align-self: center;
}

.validation-panel.requirement .title .description {
    white-space: normal;
    width: 90%;
}

.validation-panel.requirement .gwt-Label {
    min-width: 90px;
}

.validation-panel.requirement.path {
    justify-content: normal;
    font-weight: lighter;
}

.btn-run-again {
    box-sizing: content-box;
}

.stick-bottom-log {
    display: flex;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: auto;
    width: max-content;
    padding: 0.5em 0;
}

.stick-bottom-log .gwt-Label {
    margin-right: 1rem;
}

.tail-off {
    background-color: #2c2c2c;
}

.tail-on {
    background-color: #6b0;
}

.tail {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.tail::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 10px;
    width: 10px;
    background: #f1f1f1;
    border-radius: 50%;
}

.bottom-panel {
    display: flex;
    align-self: flex-end;
    padding: 0.5em 0;
}

.bottom-panel .btn-item .btn {
    box-sizing: content-box;
    width: auto;
    margin-left: 0;
}

/*.bottom-panel .btn-item .btn:before, .bottom-panel .btn-item .btn:after{*/
/*    margin-top: 2px;*/
/*}*/

.bottom-panel .btn-item .btn-back-wizard {
    padding-left: 25px;
}

.bottom-panel .btn-item .btn-run-again {
    padding-right: 25px;
}

.bottom-panel .btn-primary {
    margin-left: 1em;
}

.technical-information-container {
    margin: 0 0 20px 0;
}

.card-header {
    color: #5bbeff;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 10px;
    display: inline-block;
    line-height: 1em;
}

.card-diagram {
    padding: 0;
}

.information-panel-multi-schemas-tab {
    margin: 0;
}

.information-panel-multi-schemas-tab .gwt-TabBar {
    background-color: #eee;
}

.information-panel-multi-schemas-tab .gwt-TabBar .gwt-TabBarItem {
    margin: 0 2px 0 0;
    background-color: transparent;
}

.information-panel-multi-schemas-tab .gwt-TabBar .gwt-TabBarItem-selected {
    background-color: white;
    border: none;
    border-top: 1px #5bbeff solid;
    color: #089de3;
}

.information-panel-multi-schemas-tab .gwt-TabBarItem .gwt-Label {
    padding-left: 10px;
    padding-right: 10px;
    color: inherit;
    font-weight: 300;
    font-size: 1.5rem;
}

.information-panel-multi-schemas-tab .gwt-TabBarItem-wrapper .gwt-TabBarItem-wrapper-selected {
    vertical-align: baseline !important;
}

.information-panel-multi-schemas-tab .gwt-TabBarItem-wrapper {
    vertical-align: baseline !important;
}

.information-panel-multi-schemas-tab .multi-schema-description {
    padding: 14px 14px;
}

.form-radio-buttons input[type="radio"] {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-appearance: button;
    background-color: #eee;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: #089de3;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
}

.form-radio-buttons input[type="radio"]:checked {
    background-color: #089de3;
}

.form-radio-buttons label {
    vertical-align: text-bottom;
}

.leftSidebar .sidebarItem i {
    margin-right: 5px;
}

.leftSidebar .sidebarItem i:hover {
    color: inherit;
}

.leftSidebar .leftSidebar-facet-title i {
    margin-right: 5px;
}

.custom-views-sidebarItem-delete .fa-trash-alt:hover {
    color: #d9534f;
}

.custom-views-stack {
    font-size: 0.5em;
    vertical-align: top;
    margin-right: 5px;
}

.fa-stack-right-corner {
    position: absolute;
    bottom: 0 !important;
    text-align: right;
    line-height: 1em;
    padding-left: 2px;
}

.schema-table-separator {
    font-size: 1.5rem;
    vertical-align: middle;
}

/************************************************
* alert
 ************************************************/
.alert {
    position: relative;
    width: 100%;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.alert-heading {
    float: left;
    color: inherit;
    font-weight: bold;
    margin-right: 0.5rem;
}

.alert-heading:after {
    content: ":";
    color: inherit;
}

.alert-icon {
    color: inherit;
    float: left;
    margin-right: 10px;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;

}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-container {
    margin-top: 20px;
}

.alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

button.close:hover {
    color: black;
    cursor: pointer;
}

.my-asyncdatagrid-main-panel {
    vertical-align: top;
    overflow: hidden;
}

.my-asyncdatagrid-main-panel-full {
    width: 100%;
}

.my-asyncdatagrid-side-panel {
    vertical-align: top;
    float: right;
    margin-left: 20px;
    background-color: #eee;
    padding: 1rem 1.5rem 0 1.5rem;
}

.my-asyncdatagrid-side-panel-hidden {
    display: none;
}

.my-asyncdatagrid-side-panel .fade-out:after {
    background: linear-gradient(-90deg, #eee 30%, rgba(255, 255, 255, 0) 100%);
}

.my-asyncdatagrid-side-panel .sidebar-facet-panel {
    width: 225px;
}

.my-asyncdatagrid-side-panel .h5 {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    color: #4b4a4a;
}

.facet-empty {
    display: none;
}

.facet-input-panel {
    margin-bottom: 1rem;
}

.font-size-description {
    font-size: 1.3rem;
    text-align: justify;
}

.activity-log-panel {
    margin: 25px;
}


.display-inline-grid {
    display: inline-grid;
}
/************************************************
* Bootstrap CARD
 ************************************************/
.bootstrap-card {
    background-color: #fff;
    background-clip: border-box;
rgba(0, 0, 0, .125);
    border-radius: .25rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bootstrap-card-title-panel {
    display: flex;
    height: 50px;
}

.bootstrap-card-title-icon {
    font-size: 30px;
    line-height: 50px;
    margin-right: 20px;
}

.bootstrap-card-title {
    font-size: 30px;
    line-height: 50px;
}

.bootstrap-card-description {
    font-size: 1em;
}

.bootstrap-card-extra-content-btn {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    top: 0px;
    right: 10px;
}

.bootstrap-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.bootstrap-card-extra-content {

}

.bootstrap-card-footer {

}

/************************************************
* Switch Button
 ************************************************/
.switch-widget {
    align-self: center;
    display: inline-flex;
    position: relative;
}

.switch-widget .switch-label {
    align-self: center;
    padding-right: 27px;
}

.switch-widget .switch[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-widget .label-for-switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 27px;
    height: 15px;
    background: #ccc;
    display: block;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.switch-widget .label-for-switch:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    transition: .4s;
}

.switch-widget .switch:checked + .label-for-switch {
    background: #089de3;
    border-color: #089de3;
}

.switch-widget .switch:checked + .label-for-switch:after {
    left: 12px;
}

.switch-widget .label-for-switch:active:after {
    width: 15px;
}

/************************************************
* Advanced Configuration
 ************************************************/
.advanced-configuration {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.advanced-configuration-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.advanced-configuration-option {
    width: 80%;
    display: flex;
    background-color: #eeeeee;
    margin: 15px auto;
    height: 100px;
    padding: 10px;
    cursor: pointer;
}

.advanced-configuration-option .icon {
    font-size: 70px;
    line-height: 100px;
}

.advanced-configuration-option .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.advanced-configuration-option .title {
    font-size: 30px;
}

.advanced-configuration-option .description {
    font-size: 15px;
}

/************************************************
* Data Transformation
 ************************************************/
.leftSidebar-controller{
    display: flex;
    padding: 2rem;
    position: absolute;
    bottom: 0;
}
.leftSidebar-controller .btn {
    margin-right: 10px;
}
.data-transformation-sidebar{
    height: 70vh;
}
.data-transformation{
    height: 80vh;
    box-sizing: border-box;
    position: relative;
    padding: 2px;
}

.data-transformation-header {
    position: relative;
}

.data-transformation-header .title-panel {
    height: 100px;
    line-height: 100px;
    display: flex;
}

.data-transformation-header .icon {
    margin-right: 20px;
    font-size: 50px;
}

.data-transformation-header .title {
    font-size: 50px;
}

.data-transformation-header .description-panel {
    font-size: 15px;
}

.data-transformation-wrapper {
    position: relative;
    padding-top: 15px;
}

.data-transformation-panel {
    margin-left: 10px;
    margin-bottom: 10px;
}

.data-transformation-child {
    margin-left: 10px;
}

.data-transformation-wrapper::after {
    content: '';
    top: 0;
    height: 100%;
    width: 0;
    border-left: 2px solid #ccc;
    position: absolute;
    left: -10px;
}

.data-transformation-wrapper::before {
    border-top: 2px solid #ccc;
    top: 52px;
    width: 8px;
    height: 0;
    content: '';
    position: absolute;
    left: -10px;
}

.data-transformation-wrapper:last-child::after {
    height: 52px;
}

.aggregation-panel{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.reference-panel {
    font-size: 15px;
    display: flex;
    line-height: 50px;
    color: #818182;
}

.reference-panel .icon {
    font-size: 15px;
    margin-right: 10px;
}
