<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CORE_FILEOUT" class="ch.qos.logback.core.FileAppender">
		<file>${dbvtk.home}/log/dbvtk.log</file>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CORE_FILEOUT_NO_THREAD" class="ch.qos.logback.core.FileAppender">
		<file>${dbvtk.home}/log/dbvtk.log</file>
		<encoder>
			<pattern>%d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.roda" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="CORE_FILEOUT"/>
	</logger>

	<logger name="org.apache.solr" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="CORE_FILEOUT_NO_THREAD"/>
	</logger>

	<logger name="org.apache.catalina" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="CORE_FILEOUT"/>
	</logger>

	<logger name="org.eclipse.jetty" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="CORE_FILEOUT"/>
	</logger>

	<logger name="org.apache.http" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="CORE_FILEOUT"/>
	</logger>

	<logger name="org.apache.http.headers" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="CORE_FILEOUT"/>
	</logger>

	<logger name="org.roda" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<logger name="com.databasepreservation" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CORE_FILEOUT" />
	</logger>

	<root level="warn">
		<appender-ref ref="CORE_FILEOUT" />
	</root>
</configuration>
