@CHARSET "UTF-8";

/***********************************************
   Ungrouped
************************************************/

.db-info-th {
    font-weight: bolder;
    padding-right: 1rem;
}

.hidden {
    visibility: hidden;
}

.label {
    color: #222;
    font-weight: 400;
}

.value {
    font-size: 1.4rem;
    color: rgb(88, 89, 91);
}

/* allows tables to scroll correctly and not go beyond the page limits */
.browseContentPreviewPanel > tbody > tr:nth-child(1) > td:nth-child(2) {
    max-width: 1px;
    width: 100%;
}

.loadingText {
    font-size: 75%;
    color: #a7a9ac;
}

/***********************************************
              Table search panel
************************************************/

.TableSearchPanel-search .searchAdvancedPanel {
    margin-bottom: 0;
}

.TableSearchPanel-search {
    margin-bottom: 20px;
}

.TableSearchPanel-table {
    /*nothing yet since most of it is defined for all AsyncTableCells*/
}

.btn-export {
    padding: 4px 8px 4px 8px;
    font-size: 11px;
    font-weight: 400;
    float: right;
    margin-top: 3px;
    border-radius: 0px;
    margin-left: 5px;
    display: inline-block;
    font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    width: 8.4rem;
}

.btn-export-all {
    width: 8.4rem;
}

.btn-export-visible {
    width: 8.4rem;
}

/***********************************************
   BrowseContent (based on ViewRepresentation)
************************************************/
.browseContentTitle {
    margin-bottom: 10px !important;
}

.browseContentFocusPanel,
.browseContentPreviewPanel {
    width: 100%;
}

.browseContentFilesPanel {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 100%;
    border-right: 1px solid #eee;
}

.browseContentFilesPanel.full_width {
    width: 100%;
    margin-right: 0px;
    border: none;
}

.browseContentFilesPanel .fileListScroll {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 650px;
    overflow-x: hidden;
    overflow-y: auto;
}

.browseContentFilesPanel.full_width .fileListScroll {
    height: auto;
}

/*
.browseContent .my-asyncdatagrid-pager-results {
    display: none;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableCell {
    padding-right: 2px;
    line-height: 1em;
    margin-bottom: 2px;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRow {
    background: white;
    border: none;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRowCell {
    border: 2px solid white;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableHoveredRow {
    background: #eee;
}

.browseContent .my-files-table .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableHoveredRow .org-roda-wui-common-client-widgets-MyCellTableResources-TableStyle-cellTableOddRowCell {
    border: 2px solid #eee;
}
*/

.browseContentFilePreviewPanel {
    width: 100%;
    height: 705px;
}

.browseContentFilePreviewPanel .filePreviewToolbar {
    min-height: 35px;
    background-color: #eee;
    position: relative;
}

.browseContentFilePreviewPanel .filePreviewToolbar .browseContentBreadcrumb {
    padding: 5px 70px 5px 20px;
    margin: 0;
}

.browseContentFilePreviewPanel.single .filePreviewToolbar .browseContentBreadcrumb {
    margin-left: 35px;
}

.browseContentFilePreviewPanel .filePreviewToolbar .filePreviewToolbarIcons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.browseContentFilePreview {
    padding: 40px !important;
    height: 650px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    padding-top: 0px !important;
    margin-top: 20px;
}

.browseContentFilesPanel .searchPanel {
    height: 35px;
    margin-right: 0px;
    background-color: #999;
    color: #eee;
}

.browseContentFilesPanel .searchBox {
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    padding: 0 3rem;
    padding-left: 4.7rem;
    background-color: inherit;
    border: none;
    margin-top: 3px;
    color: white;
}

.browseContentFilesPanel .searchBox::-webkit-input-placeholder,
.browseContentFilesPanel .searchBox:placeholder-shown {
    color: #ddd;
}

.browseContentFilesPanel .searchPanelLeft {
    float: right;
    width: 100%;
}

.browseContentFilesPanel .searchButton {
    cursor: pointer;
    cursor: hand;
    position: relative;
    top: -2px;
    left: 2px;
    float: left;
    width: 40px;
    margin-right: -55px;
    background-color: transparent;
}

.browseContentFilesPanel .searchButton-html {
    font-size: 14px;
}

.browseContentFilesPanel .searchButton .fa-stack-2x {
    color: transparent;
}

.browseContentFilesPanel .searchButton .fa-stack-1x {
    color: inherit;
}

.browseContent .infoFilePanel {
    height: 630px;
    width: 300px;
    background: #089de3;
    display: none;
    color: white;
    position: absolute;
    right: 0;
    padding: 20px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent, -6px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.browseContent .infoFileTitle {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 2.5rem;
}

.browseContent .infoFileEntry {
    margin-bottom: 1em;
}

.browseContent .infoFileEntryKey {
    font-size: 1.3rem;
    line-height: 1.1em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.2em;
}

.browseContent .infoFileEntryValue {
    font-size: 1.3rem;
    word-break: break-all;
    line-height: 1.1em;
}

/**********************************************
				SIDEBAR
************************************************/
.leftSidebar-facet-title {
    color: inherit;
    margin-bottom: 5px;
    /*font-size: 1.8rem;*/
}

.leftSidebar-facet-label {
    display: block;
    white-space: nowrap;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.leftSidebar-facet-input {
    padding: 2px;
}

.leftSidebar-facet-input-date {
    width: 45%;
}

.leftSidebar-facet-date-separator {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    color: #999;
}

.leftSidebar-facet-panel.facet-empty {
    display: none;
}

.leftSidebar .fade-out:after {
    background: -webkit-linear-gradient(right, #eee 30%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(-90deg, #eee 30%, rgba(255, 255, 255, 0) 100%);
}

.leftSidebar {
    padding: 2rem;
}

.leftSidebar .sidebar-hyperlink a {
    /*font-size: 1.4rem;*/
    color: inherit;
}

.leftSidebar .sidebar-hyperlink {
    /*font-size: 1.4rem;*/
    color: #222;
}

.leftSidebar .sidebar-hyperlink :hover {
    color: #089de3;
}

.leftSidebar .btn {
    width: 160px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.leftSidebar .h1, .leftSidebar .h2, .leftSidebar .h3, .leftSidebar .h4, .leftSidebar .h5,
.leftSidebar .h6 {
    margin-bottom: 0.6rem;
    margin-top: 0.5em;
    line-height: normal;
}

.leftSidebar .indent0 {
    margin-left: 0;
    margin-top: 1.5rem;
}

.leftSidebar-facet-title :first-child {
    margin-top: 0;
}

.leftSidebar .indent1 {
    margin-left: 1.5rem;
}

.leftSidebar .indent2 {
    margin-left: 3rem;
}

.leftSidebar .indent3 {
    margin-left: 4.5rem;
}

.leftSidebar .indent4 {
    margin-left: 6rem;
}

.leftSidebar .h1:before, .leftSidebar .h2:before, .leftSidebar .h3:before, .leftSidebar .h4:before, .leftSidebar .h5:before,
.leftSidebar .h6:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    padding-right: 0.5em;
    margin-top: 0.1em;
    width: 1.5rem;
    text-align: center;
}

/**********************************************
				TABLES
************************************************/

/* used in schema page to show table column information */
.table-info {
    min-width: 100%;
}

.table-info .primary-key-col {
    width: 1px;
    max-width: 1px;
}

.search-field-left-panel .visibility-checkbox {
    display: table-cell;
    vertical-align: top;
    padding-top: 0.3rem;
}

/**********************************************
	       SINGLE RECORD PAGE
************************************************/

.field .value.related-records .related-records-link {
    display: inline;
}

.field .value.related-records {
    font-size: 75%; /*equivalent to .small*/
}

.recordId {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.rowData .label:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    padding-right: 0.5rem;
    margin-top: 0.1em;
    width: 1.5rem;
    text-align: center;
}

.rowData .label.noicon {
    margin-left: 2rem;
}

.rowData .value {
    margin-left: 2rem;
}
