<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TheSuite" verbose="0">
    <test name="Testing" parallel="classes" thread-count="5">
        <groups>
            <!-- All the tests -->
            <define name="all">
                <include name="unit"/>
            </define>

            <!-- Tests ran by Travis CI -->
            <define name="travis-ci">
                <include name="unit"/>
            </define>

            <!-- Tests that don't have external dependencies -->
            <define name="no-dependencies">
                <include name="unit"/>
            </define>
        </groups>
        <classes>
            <class name="com.databasepreservation.dbviewer.utils.ViewerUtilsTest"/>
        </classes>
    </test>
</suite>
